<header>
	<a href="/menu">
		<img src="/imgs/logo.png" alt="Stone Drinks" />
		<h1>Stone Drinks</h1>
	</a>
</header>

<style>
	header {
		background-color: var(--accent-color);
		height: 100px;
	}

	header a {
		height: 100%;
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	header img {
		height: 100%;
	}

	header h1 {
		font-size: 2rem;
	}
</style>
