---
import "@/styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Stone Drinks, la mejor bebida para tu estancia en Guatapé."
		/>
		<meta
			name="keywords"
			content="Stone Drinks, Guatapé, Bebidas, Sodas, Jugos, Malteadas, Micheladas, Cocktails"
		/>
		<meta name="author" content="Stone Drinks" />
		<link rel="icon" href="/imgs/logo.png" />
		<title>Stone Drinks</title>
	</head>
	<body>
		<slot />
	</body>
</html>
